<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>LPS</display-name>
    <description/>


<!--    
	<filter>
	  <filter-name>LaszloProtocolSniffingFilter</filter-name>
	  <filter-class>org.seasar.laszlo.ext.LaszloProtocolSniffingFilter</filter-class>
	</filter>
 
	<filter-mapping>
		<filter-name>LaszloProtocolSniffingFilter</filter-name>
		<url-pattern>*.lzx</url-pattern>
	</filter-mapping>
 -->
 
	<filter>
        <filter-name>s2filter</filter-name>
        <filter-class>org.seasar.framework.container.filter.S2ContainerFilter</filter-class>
    </filter>
    
    <filter>
	  <filter-name>S2LaszloGzipFilter</filter-name>
	  <filter-class>org.seasar.laszlo.filter.S2LaszloGzipFilter</filter-class>
	</filter>
 
	<filter-mapping>
		<filter-name>S2LaszloGzipFilter</filter-name>
		<url-pattern>*.lzx</url-pattern>
	</filter-mapping>
    
    <filter-mapping>
        <filter-name>s2filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    <servlet>
        <servlet-name>LPS</servlet-name>
        <servlet-class>org.openlaszlo.servlets.LZServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LZViewer</servlet-name>
        <servlet-class>org.openlaszlo.servlets.LZViewer</servlet-class>
    </servlet>

 
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>AuthenticationServlet</servlet-class>
    </servlet>
<!--
    <servlet>
      <servlet-name>AxisServlet</servlet-name>
      <servlet-class>
          org.apache.axis.transport.http.AxisServlet
      </servlet-class>
    </servlet>
-->
    <servlet>
	    <servlet-name>s2servlet</servlet-name>
	    <servlet-class>org.seasar.framework.container.servlet.S2ContainerServlet</servlet-class>
	    <init-param>
	        <param-name>configPath</param-name>
	        <param-value>app.dicon</param-value>
	    </init-param>
	    <init-param>
	        <param-name>debug</param-name>
	        <param-value>false</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping>
        <servlet-name>s2servlet</servlet-name>
        <url-pattern>/s2servlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>LPS</servlet-name>
        <url-pattern>*.lzx</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LPS</servlet-name>
        <url-pattern>*.lzo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LZViewer</servlet-name>
        <url-pattern>/LZViewer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
<!-- 
    <servlet-mapping>
      <servlet-name>AxisServlet</servlet-name>
      <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
